:root {
    --background-color: #31112c; /* Dark pink/magenta */
    --card-color: #ffccd5; /* Light pink */
    --text-color: #ffe4e6; /* Almost white pink */
    --accent-color: #ff8fab; /* Vibrant cherry blossom pink */
  }
  